*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;            
}

html, body{
    height: 100%;
    
}

.center{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    
    
    
}
.center>h2{            
   display: inline-block;
   width: 100%;
   margin-top: 15px;


}

.container{            
    margin-top: 50px ;
    width: 40%;            
    display: flex;        
    border: 3px solid rgb(239, 166, 166);           
}


.container figure{            
    padding-top: 300px;
    width: 100%;            
    background-color: rgba(200, 200,200, 0.5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: 1.5s;
    
}

.ball{
    position: relative;
    top: -24px;            
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: center;
    
}
.ball .singleBall{            
    height: 15px;
    width: 18px;            
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.ball .singleBall > span{           
    display: inline-block;            
    width: 13px;
    padding-top: 13px;
    background-color: rgb(209, 124, 124);
    border-radius: 50%; 
    cursor: pointer;         
    
}

.ball .singleBall .active{
    background-color:red
}

.hide{
    display: none;
}
